HYDRADB_API_KEY="Your HydraDB api key"
NVIDIA_API_KEY="Your NVIDIA NIM api key"
NVIDIA_MODEL="deepseek-ai/deepseek-v4-flash"

# NextAuth
NEXTAUTH_SECRET="replace-with-a-random-32-char-secret"
NEXTAUTH_URL="http://localhost:3000"